<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div class="hed">
        <img src="./img/hed.JPG" alt="">
    </div>

    <div class="section">
        <p class="p1">Rview orders</p>
        <img src="./img/first-pag2.PNG" alt="">
        <button type="button" id="barinxri">Proceed to payment</button>
    </div>
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>